@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Bold.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
  font-weight: 400;
}

@import 'overlayscrollbars/overlayscrollbars.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .play {
    animation-play-state: running;
  }

  .filter-m-r {
    & > li:last-child {
      //padding-right: toRem(30);
    }
  }

  .wrapper {
    grid-template-areas:
    "aside body";
    @media (max-width: em(991)) {
      grid-template-areas:
    "body"
    "aside";
    }
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    @media (max-width: em(991)) {
      width: 100%;
      flex: 0 0 auto;
    }
  }

  .body {
    grid-area: body;
  }

  .nav-item {
    @apply relative;
    &.mobile {
      @apply justify-self-center w-full justify-center;
    }

    &:after {
      content: '';
      @apply absolute w-full bottom-0 bg-lg-line left-0 h-[1px] bg-blend-overlay;
    }
  }

  .nav-link {
    @apply flex overflow-hidden  opacity-60 h-14 text-small tablet-big:text-headline-text font-bold leading-normal gap-3 tablet-big:gap-5 items-center px-3 tablet-big:px-5 py-2 w-full relative hover:opacity-100 transition duration-300;

    &:after {
      content: '';
      @apply transition duration-300 absolute z-10 opacity-0 top-0 left-0 w-full h-full pointer-events-none -translate-y-full bg-lg-nav;
    }

    &.active {
      @apply opacity-100 ;
      .round-gradient {
        @apply animate-spin play opacity-100;
      }

      &:after {
        @apply translate-y-0 opacity-100;
      }
    }

    &:before {
      @apply absolute hidden opacity-50 top-0 left-0 h-[1px] w-full bg-lg-line bg-blend-overlay;
    }
  }

  .page-content {
    @apply animate-content-wrapper;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@import "scss/common.scss";

// =======================

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "SF-Pro";
}

// ScrollBars

.aside,
.body,
.top-filter {
  .simplebar-scrollbar {
    &:before {
      background: linear-gradient(135deg, #293462 0%, #343E61 100%);
    }
  }

  .os-scrollbar .os-scrollbar-handle {
    background: linear-gradient(135deg, #293462 0%, #343E61 100%) !important;

    &:before {
    }
  }
}

.top-filter {
  .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless, .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless.os-scrollbar-rtl {
    bottom: toRem(-5) !important;
    z-index: 5000000;
    background: radial-gradient(50% 128.57% at 50% -36.61%, #8015A7 1%, rgba(97, 54, 144, 0.00) 100%);
    padding: toRem(0);
    margin: 0;
    height: 4px;
  }

  .os-scrollbar .os-scrollbar-handle {
    height: 4px;
    top: toRem(-1);

    &:before {
      //background: linear-gradient(135deg, #293462 0%, #343E61 100%) !important;
    }
  }
}

