@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Bold.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("otf"),
  url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
  font-weight: 400;
}

@import 'overlayscrollbars/overlayscrollbars.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .play {
    animation-play-state: running;
  }

  .filter-m-r {
    & > li:last-child {
      //padding-right: toRem(30);
    }
  }

  .wrapper {
    grid-template-areas:
    "aside body";
    @media (max-width: em(991)) {
      grid-template-areas:
    "body"
    "aside";
    }
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    @media (max-width: em(991)) {
      width: 100%;
      flex: 0 0 auto;
    }
  }

  .body {
    grid-area: body;
  }

  .img-ibg {
    @apply relative;
    img {
      @apply absolute top-0 left-0 w-full h-full object-cover;
    }
  }

  .nav-item {
    @apply relative;
    &.mobile {
      @apply justify-self-center w-full justify-center;
    }

    &:after {
      content: '';
      @apply absolute w-full bottom-0 bg-lg-line left-0 h-[1px] bg-blend-overlay;
    }
  }

  .nav-link {
    @apply flex overflow-hidden  opacity-60 h-14 text-small tablet-big:text-headline-text font-bold
    leading-normal gap-3 tablet-big:gap-5 items-center px-3 tablet-big:px-5 py-2 w-full relative hover:opacity-100 transition duration-300;

    &:after {
      content: '';
      @apply transition duration-300 absolute z-10 opacity-0 top-0 left-0 w-full h-full pointer-events-none -translate-y-full bg-lg-nav;
    }

    &.active {
      @apply opacity-100 ;
      .round-gradient {
        @apply animate-spin play opacity-100;
      }

      &:after {
        @apply translate-y-0 opacity-100;
      }
    }

    &:before {
      @apply absolute hidden opacity-50 top-0 left-0 h-[1px] w-full bg-lg-line bg-blend-overlay;
    }
  }

  .page-content {
    @apply animate-content-wrapper;
  }

  .aside-video-card {
    @apply relative;

    &:before {
      content: '';
      @apply absolute top-0 left-0 w-full h-[1px] mix-blend-overlay bg-video-card-border;
    }

    &:after {
      content: '';
      @apply absolute bottom-0 left-0 w-full h-[1px] mix-blend-overlay bg-video-card-border;
    }
  }

  .video-actions-buttons {
    div {
      @apply mobile:rounded-b-3xl rounded-b-2xl overflow-hidden border-white/10
      border-[1px] bg-video-subscription border-t-0;
    }

    button {
      @apply flex-auto mobile:text-default text-small py-2 desktop-big:px-8 tablet-big:px-6 mobile:px-4 px-2
      desktop-big:h-11 mobile:h-10 h-8 flex justify-center items-center mobile:gap-3 gap-1 relative outline-0;
      span {
        @apply relative z-20 font-bold opacity-60 transition duration-500;
      }

      svg {
        @apply opacity-60 transition duration-500;
      }

      &.active {
        span {
          @apply opacity-100;
        }

        svg {
          @apply opacity-100;
        }

        &:before {
          @apply opacity-100  bg-lg-subscribe translate-y-0;
        }
      }

      &:not(:last-child) {
        @apply border-r-[1px] border-white/10;
      }

      &:first-child {
        @apply mobile:rounded-es-3xl rounded-es-2xl;
      }

      &:last-child {
        @apply mobile:rounded-ee-3xl rounded-ee-2xl;
      }

      &:before {
        content: '';
        @apply absolute top-0 left-0 w-full h-full bg-lg-f-line opacity-0 z-10 transition duration-300 translate-y-full;
      }

      &:hover,
      &:focus {
        &:before {
          @apply translate-y-0;
        }

        &:before,
        span, svg {
          @apply opacity-100;
        }
      }
    }
  }

  .shadow-input {
    @apply input-bordered border-[0px] input-primary w-full bg-lg-body focus:outline-0 transition duration-[0.3s] focus:shadow-bs-filter;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@import "scss/common.scss";

// =======================
// =======================

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "SF-Pro";
}

// ScrollBars

.aside,
.body,
.top-filter,
.video-body {
  .os-scrollbar .os-scrollbar-handle {
    background: linear-gradient(135deg, #293462 0%, #343E61 100%) !important;
  }
}

.video-body {
  .os-scrollbar .os-scrollbar-handle {
    @apply opacity-50;
    &:before {
    }
  }
}

.top-filter {
  .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless, .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless.os-scrollbar-rtl {
    bottom: toRem(-5) !important;
    z-index: 5000000;
    background: radial-gradient(50% 128.57% at 50% -36.61%, #8015A7 1%, rgba(97, 54, 144, 0.00) 100%);
    padding: toRem(0);
    margin: 0;
    height: 4px;
  }

  .os-scrollbar .os-scrollbar-handle {
    height: 4px;
    top: toRem(-1);

    &:before {
      //background: linear-gradient(135deg, #293462 0%, #343E61 100%) !important;
    }
  }
}


.video-js {
  background: transparent;
  transition: background 0.3s;

  .vjs-big-play-button .vjs-icon-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      transition: all 0.1s !important;
      -webkit-text-stroke: 3px;
      color: #C427FBFF;
      -webkit-text-fill-color: transparent;
    }


  }

  .vjs-big-play-button {
    &:hover {
      .vjs-icon-placeholder {
        &:before {
          transform: scale(1.2);
        }
      }

    }
  }

  .vjs-control-bar {
    transition: opacity 0.3s;
    opacity: 0;
  }

  video {
    transition: opacity 0.3s;
    opacity: 0 !important;
  }

  &.vjs-has-started {
    background: #000;

    video {
      opacity: 1 !important;
    }

    .vjs-control-bar {
      opacity: 1;
    }
  }

  .vjs-play-progress, .vjs-slider-bar, .vjs-volume-level {
    background: linear-gradient(90deg, #C427FBFF 50%, rgba(72, 49, 157, 1) 100%) !important;
  }

  .vjs-progress-control {
    @media (max-width: 768px) {
      padding: toRem(0);
    }
  }

  .vjs-control-bar {
    height: toRem(80) !important;
    @media (max-width: 768px) {
      height: toRem(60) !important;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .vjs-volume-panel {
    padding: 0;
  }

  .vjs-volume-tooltip {
    position: relative;
    bottom: toRem(-10);
    right: toRem(0) !important;
  }
}

.vjs-has-started {
}
